.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 40px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: yellowgreen;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    text-align: center;
  }
  
